

<div class="activities">
    <div class="activities__header">
        <h2>Browse Topics</h2>
    </div>
  
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'category' %}" class="roomListRoom__author">

                <h3>
                    <span>Category</span>
                </h3>
            </a>
        </div>
        <br>
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'most_commented_posts' %}" class="roomListRoom__author">

                <h3>
                    <span>Trending</span>
                </h3>
            </a>
        </div>
        <br>
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'most_liked' %}" class="roomListRoom__author">

                <h3>
                    <span>Popular</span>
                </h3>
            </a>
        </div>
        <br>
        <div class="activities__boxHeader roomListRoom__header">
            <a href="#" class="roomListRoom__author">
        
                <h3>
                    <span>Coming Events</span>
                </h3>
            </a>
        </div>



    </div>
</div>